* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

#root {
	background-color: #1f1f1f;
	width: 70%;
	margin: auto;
	height: 100vh;
	overflow: auto;
}

header h3 {
	font-size: 2rem;
	margin-right: 2px;
	color: #1f88eb;
}

header,
form {
	display: flex;
	justify-content: center;
	min-height: 20vh;
	align-items: center;
}

input,
button {
	border-radius: 5px;
	border: none;
	outline: none;
	min-height: 25px;
	padding: 0.5rem;
	margin: 5px;
}

table {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

table,
th,
td {
	border: 1px solid white;
	border-collapse: collapse;
}

thead tr {
	height: 35px;
	color: #63a8d9;
}

form {
	width: 70%;
	margin: auto;
	overflow: auto;
}

button {
	cursor: pointer;
	transition: all 0.5s ease;
	min-width: 30px;
	color: white;
}
